<div id="awes">
    <h1>{{product.price | money}} </h1>
</div>

{% schema %}
{
    "name":"Awesome",
    "settings":[
        {

    }
    ],
    "presets":[
        {
            name:"awesome",
            "category":"custom"

        }
    ]
}

{% endschema %}