<div id="awesome"> </div>

{% schema %}
  {
    "name": "awesome-prod",
    "settings": [
     { 
       "id":"button-text",
       "type": "text",
       "label":"customtext"
     }
      
    ]
  }
{% endschema %}