
<h1>{{section.settings["liquid-ref"]}}</h1>
{% if section.settings.liquid-checkbox==true  %}

{% schema %}
{
    "name":"Liquid reference",
    "settings":[
        {
            "id":"liquid-ref",
            "type":"text",
            "label":"A reference for shopify Liquid by 2024"
        },
        {
            "id":"radio-checkbox",
            "type":"checkbox",
            "label":"A checkbox in liquid",
        },
        {
            "id":"checkboxref",
            "type":"number",
            "label":"Add a number",
        }


    ],
    
     "presets":[
        {
            "name":"Liquid Reference",
            "category":"reference"
        }
     ]
}
{% endschema %}


