<h1>This works</h1>
{% schema %}
{
    "name":"Liquid reference",
    "settings":[
        {
            "id":"liquid-ref",
            "type":"text",
            "label":"A reference for shopify Liquid"
        }
    ],
    "templates":["index","page","product"],
     "presets":[
        {
            "name":"Liquid Reference",
            "category":"reference"
        }
     ]
}
{% endschema %}


